<<<<<<< HEAD
<% @title = 'View Article' %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
  <br />
  <br />
  <%= link_to 'Back to article list', articles_url %>
</p>
=======
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
>>>>>>> a30d25ca2d369b8970beb0796fa33825e04dadc4
