<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <%= favicon_link_tag 'icon.ico' %>
    <title> <%= @title %> </title>
=======
    <title>Blog</title>
>>>>>>> a30d25ca2d369b8970beb0796fa33825e04dadc4
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
